# DotENV file to execute the example notebooks
# Copy this file to a .env file in this folder and fill out the values

OPENAI_API_VERSION=<Azure OpenAI API Version>
AZURE_OPENAI_ENDPOINT=<Azure OpenAI Endpoint>
OPENAI_API_KEY=<Azure OpenAI Key>

# Keep the values of the following variables
PYTHONIOENCODING=utf-8
PYTHONUTF8=1

AZURE_OPENAI_EMBEDDING_DEPLOYMENT= <Azure OpenAI Embedding Deployment Name>

AZURE_SEARCH_SERVICE_ENDPOINT=<Azure Search Service Endpoint>
AZURE_SEARCH_API_KEY=<Azure Search API Key>
AZURE_SEARCH_INDEX_NAME=<Azure Search Index Name>
AZURE_SEARCH_DATASOURCE=<Azure Search Data Source Name>
AZURE_SEARCH_INDEXER=<Azure Search Indexer Name>
AZURE_SEARCH_SKILLSET=<Azure Search Skillset Name>

AZURE_BLOB_CONTAINER=<Azure Blob Container Name>
AZURE_BLOB_CONNECTION_STRING=<Azure Blob Connection String>
AZURE_BLOB_ACCOUNT_URL=<Azure Blob Account URL>